@import url("reset.css");

* {
	color: darkblue;
	color: black;
}

li {
	color: purple;
}

.title {
	color: lime;
}

.text {
	color: darkcyan;
}

#some-id {
	color: darkgoldenrod;
}

[class*="tl"] {
	color: deeppink;
}

div.text {
	color: lime;
}

.text,
.title,
li {
	color: olive;
}

h1.title {
	color: blue;
}

.section a {
	color: red;
}

.section p {
	color: blueviolet;
}

.text .paragraph {
	color: crimson;
}

.section * {
	color: yellow;
}

.text>p {
	color: aqua;
}

.paragraph~p {
	color: black;
}

.paragraph+p {
	color: lime;
}

#list {
	color: fuchsia;
}

#google {
	color: blue;
}